body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: #FFA500;
}

.flexible {
    display: flex;
    padding-bottom: 100px;
}

.half-width {
    width: 70%;
    padding-left: 5%;
    text-align: justify;
}


.half-width img {
    width: 100%;
    padding-left: 5%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(#FF9672, #FF6B4E);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    padding-right: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-item {
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.exp-item h1 {
    text-align: left;
    font-size: 35px;
}

.exp-item p {
    padding-right: 20px;
}

.exp-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
}

#exp-1 {
    border-left: 7px solid #FF6347;
}

#exp-2 {
    border-left: 7px solid #0000FF;
}

footer p {
    text-align: center;
    color: #777069;
}